body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form{
  padding-top: 25px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.ninja{
  border: 1px solid black;

}
