@media only screen and (max-width: 992px) {
  nav .brand-logo{
   left: 20%;
  }
}
ul a.active{
    text-decoration: underline;
}

.home .post img{
    position: absolute;
    top: 20px;
    left: -100px;
    opacity: 0.1;
}
.home .post{
    overflow: hidden;
    padding-left: 50px;
}


